.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: start;
  align-items: center;
  background-color: var(--background);
  padding: 110px;
  gap: 30px;
}

.main__filters {
  display: flex;
  gap: 20px;
}

.main__filters_label {
  display: flex;
  gap: 10px;
  color: var(--text);
}

@media screen and (max-width: 800px) {
  .main__filters {
    flex-direction: column;
  }
}
