.navbar {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  z-index: 5;
}

.navbar__items {
  display: flex;
  list-style: none;
  gap: 20px;
  justify-content: space-between;
  padding: 20px 30px;
  background-color: var(--background-transparent);
  border-radius: 20px;
  width: 80%;
  -webkit-backdrop-filter: blur(15px) !important;
  backdrop-filter: blur(15px) !important;
  margin-top: 10px;
}

.navbar__item {
  padding: 5px 10px;
  border-radius: 9px;
  background-color: #a3340b;
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.5vw;
}

.navbar__item:nth-child(3) {
  margin-left: auto;
}
.navbar__item:hover {
  background-color: #842d0e;
}
