.card {
   border: 1px solid rgb(188, 108, 37); 
   border-radius: 10px;
   /* box-shadow: 5px 5px 5px black; */
   text-align: center;
   max-width: 350px;
   min-height: 300px;
   max-height: 600px;
   display: inline-block;
   background-color: rgb(212, 91, 18);
}

.card:hover {
    border: 3px solid rgb(221, 161, 94);
    transition: border 0.2s ease-in;
}

.card__img {
   width: 100%;
   display: block;
   object-fit: cover;
}

.card__content {
    padding-bottom: 5px;
    padding: 0 5px 5px 5px;
}

.card__title {
  font-size: 24px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: -0.16px;
  color: rgb(96, 60, 20);
  margin: 10px 0 0 0;
}

.card__description {
    font-size: 12px;
    line-height: 1.5;
    font-weight: 400;
    margin: 10px;
    color: rgb(96, 60, 20);
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.card__description:hover {
    white-space: normal; 
    max-height: 100px;
    overflow-y: auto;
}

/* Edits the look of the scrollbar when hovered over */
.card__description::-webkit-scrollbar {
    width: 8px; 
}

.card__description::-webkit-scrollbar-track {
    background: rgb(254, 250, 224);
    border-radius: 10px; 
}

.card__description::-webkit-scrollbar-thumb {
    background: rgb(221, 161, 94);
    border-radius: 10px; 
    border: 2px solid rgb(254, 250, 224);
}

.card__description::-webkit-scrollbar-thumb:hover {
    background: rgb(188, 108, 37); 
}

.card__footer {
    display: flex;
    justify-content: space-between;
    margin: 8px;
    padding: 0;
    color: rgb(96, 60, 20);
    border-top: 1px rgba(33, 33, 33, 0.4) solid;
}

.card__location-img {
    height: 12px;
    width: 12px;
    color: rgb(96, 60, 20);
}

.card__location {
    display: flex;
    align-items: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card__location-name {
    margin: 0;
}

.card__rating {
    margin: 0;
}